#################
## IAR
#################


# External tool builders
*.out
*.sim
*.map
*.o
*.dep
*.wsdt


*.map
*.pbi
Nuvoton_To_Arduino/Debug/Obj/gpio.pbi.xcl
*.xcl
*.pbd
Nuvoton_To_Arduino/Debug/Obj/NuvotonToArduino.pbd.browse
*.wsdt
Nuvoton_To_Arduino/Debug/List/NuvotonToArduino.map
*.linf
